
.masonry-gallery-wrapper {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  padding: 0 1rem;
} 


.grid.masonry-spacing img:first-child { 
  padding-bottom: 1.5rem;
}

.grid img{ 
  width: 100%; 
  /*padding: 13px 0;*/
}
  @media (max-width: 500px) {
    .masonry-gallery-wrapper {
      -webkit-column-count: 1; 
      -moz-column-count: 1;
      column-count: 1;
    }
  }


  /* Media Queries*/
/*iPhone*/
@media screen and (max-width: 667px) {


.grid img {
    width: 100%;
     padding: 13px 0; 
}

}