

/* Nav*/
nav .book-now a{
color: #000;
letter-spacing: 2px;
text-decoration: none;
border-bottom: 1px solid #000;
padding-bottom: 4px;
transition: all linear .3s;
}

nav .book-now a:hover{
color: #dc3545;
border-bottom: 1px solid #dc3545;
padding-bottom: 10px
}

div#top-nav ul.menu{
  border-top: 1px solid #c3c3c3;
    display: inline-flex;
    list-style: none;
}
div#top-nav ul.menu li{
   padding: 1rem 2rem;
}
div#top-nav ul.menu li a{
   font-size: 1.4rem;
   color: #000;
   text-decoration: none;
}
div#top-nav ul.menu li a:hover {
    color: #dc3545;
}
button.navbar-toggler {
  color: #000 !important;
  opacity: 1;
}
button.navbar-toggler {
    display: contents;
    letter-spacing: 2px;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
    margin: 0 .4rem .3rem 0;
    color: #000 !important;
}

.dropdown-menu.show {
  display: block;
  width: 100%;
}

/* !Nav*/


/* Media Queries*/
/*iPhone*/
@media screen and (max-width: 667px) {

nav .nav-logo-image img{
  max-width: 35%;
}

div#top-nav ul.menu  {
    border-top: 1px solid #c3c3c3;
    display: list-item;
    list-style: none;
    padding: 0;
}
div#top-nav ul.menu  li {
    padding: 1rem 0;
}
div#top-nav ul.menu  li:hover{
    background-color: #c3c3c31f;
}

}